# This is a basic workflow to help you get started with Actions

name: Tests on production branches

on:
  push:
    branches:
      - "main"
      - "release/*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build-and-test:

    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Build and tag image
        run: docker build -t mrs-tarquin:latest .

      - name: run tests
        run: docker run --mount type=bind,source=$(pwd),target=/mrs mrs-tarquin pytest --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov=mrs --continue-on-collection-errors tests/ | tee pytest-coverage.txt ; echo $?

      - name: Pytest coverage comment
        id: coverageComment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml

      - name: Update coverage Badge
        if: github.ref == 'refs/heads/main'  # only on main
        uses: schneegans/dynamic-badges-action@v1.0.0
        with:
          auth: ${{ secrets.PYTEST_COVERAGE_COMMENT }}
          gistID: e1aa11345e5c62d9ea100a83a0f4bfc9
          filename: MRS_cov_badge.json
          label: Test coverage
          message: ${{ steps.coverageComment.outputs.coverage }}
          color: ${{ steps.coverageComment.outputs.color }}
          namedLogo: python
          logo: https://img.shields.io/badge/coverage-{{ steps.coverageComment.outputs.coverage }}-{{ steps.coverageComment.outputs.color }}.svg
